# Ignore JetBrains IDE files
.idea

# Ignore Python bytecode
__pycache__
/__pycache__/

# Ignore virtual environment
.venv

# Ignore macOS specific files
.DS_Store

# Ignore kubeconfig file
kubeconfig.txt